<div class="jumbotron">
  <div class="container">
      <h1><%= target.title %></h1>
      <p><%= target.teaser %></p>
      <p><%= link_to "Learn More", project_path(target), class: 'btn btn-primary' %></p>
  </div>
</div>